<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Register | LGU Alubijid File Management System</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="register-container">
    <div class="left-panel">
      <img src="static/stockimage.jpg"/>
    </div>

    <div class="register-right-panel">
      <div class="register-form-container">
        <h2>Log in to LGU Alubijid File<br>Management System</h2>
        {% if error %}
          <div class="login-error">{{ error }}</div>
        {% endif %}
        <form method="post" action="{{ url_for('register') }}">
          <input type="text" name="first_name" placeholder="First Name" required />
          <input type="text" name="last_name" placeholder="Last Name" required />
          <input type="text" name="username" placeholder="Username" value="{{ username or '' }}" required />
          <input type="email" name="email" placeholder="Email" value="{{ email or '' }}" required />
          <input type="password" name="password" placeholder="Password" required />
          <input type="password" name="confirm_password" placeholder="Confirm Password" required />
          <small style="color:#1E88E5;display:block;margin-top:10px;margin-bottom:10px;">Password Recommendation: Use 8 or more characters with a mix of letters, numbers and symbols.</small>
          <button type="submit" class="create-account-btn" style="margin-bottom:16px;">Create account</button>
          <a href="{{ url_for('login') }}"><button type="button" class="register-btn">Return</button></a>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
